<!-- Post Template -->
<article class="post fade-in">
  <h1 class="post-title">
    <%= data.title %>
  </h1>
  <% if(data.date) { %>
    <time class="post-date">
      <span><%= data.date %></span>
    </time>
  <% } %>
  <div class="post-tags">
    <% if(data.tags) { %>
      <% data.tags.forEach(function(tag) { %>
        <% if(tag) { %>
          <a href="#/posts?tag=<%= tag %>" class="post-tag"><%= tag %></a>
        <% } %>
      <% }) %>
    <% } %>
  </div>
  <div class="post-content">
    <%= data.body %>
  </div>
</article>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VQ75D8JQG1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VQ75D8JQG1');
</script>
<noscript>Please enable JavaScript to view this site.</noscript>